*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50rem;
  height: 45rem;
  border-radius: 1.5rem;
  box-shadow: 0rem 0rem 4rem 1rem rgba(0, 0, 0, 0.2);
}

.form__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  background: #FFD495;
}

.form__section {
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  width: 100%;
  height: 67%;
  gap: 6.5rem;
}

.form__div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0%;
}

.form__figure {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 4rem;
  height: 4rem;
  border-bottom: 0.2rem solid #FFD495;
}

.icon,
.email {
  color: #FFD495;
}

.form__input {
  width: 60%;
  height: 4rem;
  border: none;
  background: white;
  font-size: 1.5rem;
  border-bottom: 0.2rem solid #FFD495;
}

.form__input--submit {
  border: none;
  border-radius: 1rem;
  background: #FFD495;
}

.form__input--submit:hover {
  cursor: pointer;
}

.form__a {
  bottom: 37%;
  text-decoration: none;
  color: grey;
}

.form__a--password {
  position: absolute;
}

.form__a:hover {
  color: black;
}

.form__footer {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  gap: 1rem;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50rem;
  height: 45rem;
  border-radius: 1.5rem;
  box-shadow: 0rem 0rem 4rem 1rem rgba(0, 0, 0, 0.2);
}

.form__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  background: #FFD495;
}

.form__section {
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  width: 100%;
  height: 67%;
  gap: 8rem;
}

.form__div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0%;
}

.form__figure {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 4rem;
  height: 4rem;
  border-bottom: 0.2rem solid #FFD495;
}

.icon {
  color: #FFD495;
}

.form__input {
  width: 60%;
  height: 4rem;
  border: none;
  background: white;
  font-size: 2rem;
}

.form__input--email {
  border-bottom: 0.2rem solid #FFD495;
}

.form__input--password {
  font-size: 1.5rem;
  border-bottom: 0.2rem solid #FFD495;
}

.form__input--submit {
  margin-top: 2rem;
  border: none;
  border-radius: 1rem;
  background: #FFD495;
}

.form__input--submit:hover {
  cursor: pointer;
}

.form__a {
  bottom: 37%;
  text-decoration: none;
  color: grey;
}

.form__a--password {
  position: absolute;
}

.form__a:hover {
  color: black;
}

.form__footer {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  gap: 1rem;
}

.aanbevolen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}
.aanbevolen__container {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
}
.aanbevolen__h2 {
  font-size: 3rem;
}
.aanbevolen__titels {
  padding-bottom: 5rem;
  font-size: 2.5rem;
  text-align: center;
}
.aanbevolen__list {
  list-style: none;
  display: flex;
  gap: 3rem;
  height: 80%;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10rem;
  padding-top: 3rem;
}
.aanbevolen__listItem {
  width: 80%;
  height: 30rem;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.aanbevolen__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.aanbevolen__h3 {
  font-size: 3rem;
  padding-right: 3rem;
}
.aanbevolen__label {
  padding: 1rem 0 1rem 0;
  min-width: 8rem;
  height: 3rem;
  border: 0.1rem solid black;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aanbevolen__datum {
  font-size: 2rem;
  font-weight: 300;
}
.aanbevolen__text {
  font-size: 1.8rem;
  font-weight: 300;
}

.cms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60rem;
  height: 40rem;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.7);
  border-radius: 2rem;
}
.cms__section {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
}
.cms__container {
  display: flex;
  gap: 1rem;
  height: 5rem;
}
.cms__container--1 {
  display: flex;
  width: 100%;
  padding: 2rem;
  justify-content: flex-end;
}
.cms__title {
  width: 20rem;
  height: 4rem;
  font-size: 2rem;
  padding: 1rem;
  border: 0.2rem solid #FF5F00;
}
.cms__taal {
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  padding: 1rem;
  border: 0.2rem solid #FF5F00;
}
.cms__categorie {
  width: 20rem;
  height: 4rem;
  font-size: 2rem;
  padding: 1rem;
  border: 0.2rem solid #FF5F00;
}
.cms__date {
  width: 30rem;
  height: 4rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
  border: 0.2rem solid #FF5F00;
}
.cms__beschrijving {
  width: 52rem;
  height: 15rem;
  padding: 1rem;
  font-size: 1.8rem;
  border: 0.2rem solid #FF5F00;
}
.cms__submit {
  width: 10rem;
  height: 4rem;
  padding: 1rem;
  border: 0.2rem solid #FF5F00;
  background: none;
}

.nav {
  display: flex;
  height: 15rem;
  width: 100vw;
}
.nav__img {
  width: 30%;
  height: auto;
}
.nav__container {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__title {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__h2 {
  font-size: 3rem;
}

/*# sourceMappingURL=style.css.map */
