.cms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60rem;
    height: 50rem;
    gap: 2rem;
    padding: 2rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.7);
    border-radius: 2rem;

    &__section{
        width: 100%;
        height: 50rem;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    &__container{
        display: flex;
        gap: 1rem;
        height: 5rem;

        &--1{
            display: flex;
            width: 100%;
            padding: 2rem;
            justify-content: flex-end;
        }
    }

    &__title{
        width: 20rem;
        height: 4rem;
        font-size: 2rem;
        padding: 1rem;
        border: 0.2rem solid #FF5F00;
    }

    &__taal{
        width: 10rem;
        height: 4rem;
        font-size: 2rem;
        padding: 1rem;
        border: 0.2rem solid #FF5F00;
    }

    &__categorie{
        width: 20rem;
        height: 4rem;
        font-size: 2rem;
        padding: 1rem;
        border: 0.2rem solid #FF5F00;
    }

    &__date{
        width: 30rem;
        height: 4rem;
        padding: 1rem;
        font-size: 2rem;
        font-weight: 300;
        border: 0.2rem solid #FF5F00;
    }

    &__beschrijving{
        width: 52rem;
        height: 15rem;
        padding: 1rem;
        font-size: 1.8rem;
        border: 0.2rem solid #FF5F00;
    }

    &__counter{
        font-size: 1.5rem;
    }

    &__submit{
        width: 10rem;
        height: 4rem;
        padding: 1rem;
        border: 0.2rem solid #FF5F00;
        background: none;
    }

    &__file{
        font-size: 2rem;
        border: #FF5F00 solid 0.2rem;
        padding: 1rem;
    }

}